// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Tajawal');
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-v4-rtl/scss/bootstrap-rtl";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html,body,h1,h2,h3,h4,h5,h6,p,span,a,div,section,article,header,footer,table,tr,td,input,textarea,button{
  font-family: Tajawal
}

button:hover{
  cursor: pointer;
}

.rtl .list-group{
  padding-left: 0 !important;
}